{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

        <link type="text/css" href="{% static 'telecom/css/bootstrap.min.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'telecom/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'telecom/css/templatemo-topic-listing.css'%}" rel="stylesheet">
</head>
<body>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand">

                            <img src="{% static 'telecom/images/icon.png' %}" class="img-fluid" alt="icon">

                        <span>Sorag-jogap gullugy</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#{% url 'home' %} section_1">Baş sahypa</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#{% url 'home' %} section_2">Gullugyň işleýşi</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#{% url 'home' %} section_3">Faktlar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">Habarlaşmak üçin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %} {% endblock %}

            <section class="contact-section section-padding section-bg" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Habarlaşmak üçin</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                            <h4 class="mb-3">Telecom</h4>

                            <p>Ýuridiki salgymyz: Aşgabat ş., Arçabil şaýoly, 88</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Telefon</span>

                                <a href="tel: 071" class="site-footer-link">
                                    071
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="info@telecom.tm" class="site-footer-link">
                                        info@telecom.tm
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mx-auto">
                            <h4 class="mb-3">AŞTU</h4>

                            <p>Ýuridiki salgymyz: Aşgabat ş., Arçabil şaýoly, 88</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Telefon</span>

                                <a href="tel: 071" class="site-footer-link">
                                        083
                                    </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="https://astu.tm/" class="site-footer-link">
                                    https://astu.tm/
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </section>


            <footer class="site-footer section-padding">
                <div class="container">
                    <div class="row">

                            <p class="copyright-text mt-lg-5 mt-4">Ähli hukuklar goralan © 2024 Diplom iş. Ýerine ýetiren: Berdiýewa Gülşen</p>

                    </div>
                </div>
            </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'telecom/js/jquery.min.js' %}"></script>
        <script src="{% static 'telecom/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'telecom/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'telecom/js/click-scroll.js' %}"></script>
        <script src="{% static 'telecom/js/custom.js' %}"></script>


</body>
</html>