{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block title %}S-j gullugynyň dolandyryş paneli{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Sahypalar</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Ýerine ýetirilýär</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Ýerine ýetirilýär</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <label class="form-label">Gözleg...</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </nav>
      <div class="row">
        <div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Ýerine ýetirilişi barada maglumat</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">Leýli Ataýewa</h6>
                    <span class="mb-2 text-xs">Mesele: <span class="text-dark font-weight-bold ms-sm-2">Wifi birikdirme</span></span>
                    <span class="mb-2 text-xs">Salgy: <span class="text-dark ms-sm-2 font-weight-bold">Podwoýski</span></span>
                    <span class="text-xs">Öý telefon: <span class="text-dark ms-sm-2 font-weight-bold">+99312123456</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">work</i>Işlenilýär</a>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">Durdy Durdyýew</h6>
                    <span class="mb-2 text-xs">Mesele: <span class="text-dark font-weight-bold ms-sm-2">Wifi birikdirme</span></span>
                    <span class="mb-2 text-xs">Salgy: <span class="text-dark ms-sm-2 font-weight-bold">Sowetski</span></span>
                    <span class="text-xs">Öý telefon: <span class="text-dark ms-sm-2 font-weight-bold">+99312123456</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-success text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">check</i>Taýýar</a>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">Azat Ataýew</h6>
                    <span class="mb-2 text-xs">Mesele: <span class="text-dark font-weight-bold ms-sm-2">IP birikdirme</span></span>
                    <span class="mb-2 text-xs">Salgy: <span class="text-dark ms-sm-2 font-weight-bold">Hudaýberdiýew</span></span>
                    <span class="text-xs">Öý telefon: <span class="text-dark ms-sm-2 font-weight-bold">+99312123456</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-info text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">timer</i>Garaşylýar</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 mt-4">
          <div class="card h-100 mb-4">
            <div class="card-header pb-0 px-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="mb-0">Ýerine ýetirýän hünärmenler</h6>
                </div>
                <!--
                <div class="col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                  <i class="material-icons me-2 text-lg">date_range</i>
                  <small>23 - 30 March 2020</small>
                </div>
                -->
              </div>
            </div>
            <div class="card-body pt-4 p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Podwoýski</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_more</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Azat Azadow</h6>
                      <span class="text-xs">Gündizki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                    100 wyzow
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_less</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Rahym Berdiýew</h6>
                      <span class="text-xs">Gijeki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                    200 wyzow
                  </div>
                </li>
              </ul>
              <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">Sowetski</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_more</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Berdi Berdiýew</h6>
                      <span class="text-xs">Gündizki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                    100 wyzow
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_less</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Rahman Rahmanow</h6>
                      <span class="text-xs">Gijeki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                    200 wyzow
                  </div>
                </li>
              </ul>
              <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Mir 1-2-3</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_more</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Aman Amanow</h6>
                      <span class="text-xs">Gündizki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                    100 wyzow
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_less</i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Guwanç Rahmanow</h6>
                      <span class="text-xs">Gijeki smende</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                    200 wyzow
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--   Core JS Files   -->
  <script src="{% static 'dashboard/js/core/popper.min.js'%}"></script>
  <script src="{% static 'dashboard/js/core/bootstrap.min.js'%}"></script>
  <script src="{% static 'dashboard/js/plugins/perfect-scrollbar.min.js'%}"></script>
  <script src="{% static 'dashboard/js/plugins/smooth-scrollbar.min.js'%}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>


{% endblock %}