{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block title %}S-j gullugynyň dolandyryş paneli{% endblock %}

{% block content %}

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Sahypalar</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Maglumat gory</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Maglumat gory</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <label class="form-label">Gözleg...</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Wifi barada maglumat</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ady</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şahs</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Salgy</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobil telefon</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Öý telefon</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mesele</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sene</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in telecom_data %}
                  {% if item.hyzmat == "wifi" %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <p class="text-xs font-weight-bold mb-0">{{ item.id }}</p>
                          </div>

                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ item.ady }}</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">{{ item.sahs }}</p>

                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ item.salgy }}</span>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.mobil_belgi }}</p>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.telefon_belgi }}</p>
                      </td>
                      <td>
                        <span class="badge badge-sm bg-gradient-success">Birikdirmek</span>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.sene }}</p>
                        <!--<p class="text-xs text-secondary mb-0">12:00</p>-->
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">IP barada maglumat</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ady</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şahs</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Salgy</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobil telefon</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Öý telefon</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mesele</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sene</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in telecom_data %}
                    {% if item.hyzmat == "ip" %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <p class="text-xs font-weight-bold mb-0">{{ item.id }}</p>
                          </div>

                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ item.ady }}</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">{{ item.sahs }}</p>

                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ item.salgy }}</span>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.mobil_belgi }}</p>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.telefon_belgi }}</p>
                      </td>
                      <td>
                        <span class="badge badge-sm bg-gradient-success">Birikdirmek</span>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{ item.sene }}</p>
                        <!--<p class="text-xs text-secondary mb-0">12:00</p>-->
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--   Core JS Files   -->
  <script src="{% static 'dashboard/js/core/popper.min.js'%}"></script>
  <script src="{% static 'dashboard/js/core/bootstrap.min.js'%}"></script>
  <script src="{% static 'dashboard/js/plugins/perfect-scrollbar.min.js'%}"></script>
  <script src="{% static 'dashboard/js/plugins/smooth-scrollbar.min.js'%}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
</div>

{% endblock %}
